@{
    ViewData["Title"] = "Create a New Frog";
}

@model FrogManager.Models.FrogViewModel

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()    
            <div class="form-horizontal">
                <h4>Create a New Frog</h4>
                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                @{
                var selectList = new SelectList(
                    new List<SelectListItem>
                    {
                        new SelectListItem {Text = "Male", Value = "Male"},
                        new SelectListItem {Text = "Female", Value = "Female"},
                    }, "Value", "Text");
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Gender, selectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gender)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BirthAt, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.BirthAt, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control datetimepicker", placeholder = "Enter Birth date here..." })
                        @Html.ValidationMessageFor(model => model.BirthAt)
                    </div>
                </div>
                       
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        @ViewBag.id
    </div>
</div>
