@{
    ViewData["Title"] = "Frogs Page";
}

@model IEnumerable<FrogManager.Models.FrogViewModel>

<div class="row">
    
    <div class="col-sm-12">
        @if (User.Identity.IsAuthenticated) {
            
            <h1>Welcome Back!</h1>
            @if (Model != null && (Model.Count() > 0)) {
                <h3>Your frogs</h3>
                
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>BirthAt</th>
                    </tr>
                    </thead>
                    <tbody>
 
                    @foreach (FrogManager.Models.FrogViewModel frog in Model) {
                        <tr>
                        <td>@frog.Name</td>
                        <td>@frog.Gender</td>
                        <td>@frog.BirthAt</td>
                        <td>
                        @Html.ActionLink("Edit", "Edit", new { id=frog.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=frog.id })
                        
                        </td>
                        </tr>
                    }
                    
                    </tbody>
                </table>
                <a class="btn btn-primary" href="/frog/create">CREATE NEW FROG</a>
                <p>Click <a href="/Frog/Reset">here</a> to reset!</p>
            }
            else {
                <p>You have no frogs now, click <a href="/Frog/Reset">here</a> to see your frogs!</p>
            }
        }
        else {
            <h1>Please Login/Register to play!</h1>
        }
    </div>
</div>
